/*--- page ---*/

html {
    background-color: #000;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #000;
}

/*--- navigation bar ---*/

.navbar {
    background:#222;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #07b768;
}
.navbar-collapse {
    justify-content: flex-end;
}

/*--- header ---*/

.header {
    background: black;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
}
.description {
	left: auto;
	position: absolute;
	top: auto;
	transform: translate(-50%, -55%);
	text-align: justify;
}
.description h1 {
	color: #e4e2e2;
    background-color: black;
}
.description p {
	color: #ffffff;
	font-size: 1.5rem;
	line-height: 1.5;
    background-color: black;
    
}
.description button {
    border:1px solid #6ab446;
    background:#4646b4;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

/*--- feature section ---*/

.features {
	margin: 0;
	padding: 1em;
	position: relative;
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.feature-title {
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
    text-align: center;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features p, h3 {
    color: #ffffff;
    font-size: 1.0rem;
    margin-top: 20px;
    text-align: center;
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #0fb71f;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

/*--- footer ---*/

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

/*--- team section ---*/

.background {
	background: #000;
	padding: 4em 0;
}
.team {
	color: #bdbdb9;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

/*--- media queries ---*/

@media (max-width: 991.98px) {

	.team {
		padding: 0 15px;
	}
	
}

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}
	
	.team {
		max-width: 60%;
	}
	
	#demo-modal .btn {
		min-width: auto;
	}

}

/*--- modal ---*/