/*--- page ---*/

html {
    background-color: #000;
     padding: 10px;
     margin: 1px;
     
}
body {
     background-color: #000;
     height: 100%;
     padding: 0;
     margin: 0;

}


/*--- navigation bar ---*/

.navbar {
    background:#222;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #07b768;
}
.navbar-collapse {
    justify-content: flex-end;
}

/*--- header ---*/

.header {
    background-color: #000;
    overflow: hidden;   
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}
.description {
	   left: 50%;
	   position: absolute;
	   top: 70%;
	   transform: translate(-50%, -55%);
	   text-align: left;
    padding: 10px;
    margin: 0;
    width: 80%;
    background-color: #0c0c0c;
}
.description h1 {
	   color: #87dc87;
    
    font-weight: bold;
    font-size: 2rem;
}
.description h2 {
	   color: #87dc87;
    
    font-size: 1.5rem;
}
.description h3 {
    color: #00cc00;
    font-size: 1rem;
}
.description p {
	   color: #00cc00;
	   font-size: 1rem;
	   line-height: 1.5;
  
}
.description ul {
    color: #00cc00;
}
.description li {
    color: #87dc87;
}

/*--- footer ---*/

.page-footer {
    background-color: #222;
    color: #ccc;
    height: 100%;
    width: 100%;
    
}
.footer-copyright {
    color: #666;
    padding: 40px ;
}

/*--- media queries ---*/

@media (max-width: 991.98px) {

	.team {
		padding: 0 15px;
	}
	
}

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2rem;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}
	
	.team {
		max-width: 60%;
	}
	
	#demo-modal .btn {
		min-width: auto;
	}

}

/*--- modal ---*/