body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.navbar {
    background:#000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #07b768;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background: black;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #e4e2e2;
    background-color: black;
}
.description p {
	color: #0667c2;
	font-size: 1.3rem;
	line-height: 1.5;
    background-color: black;
}