body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.navbar {
    background:#000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #07b768;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background: black;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
}